@use 'variables' as vars;

@mixin footer-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
  

footer {
    @include footer-grid;
    height: auto;
    font-size: 22px;
    color: vars.$dark-brown;
    background-color: vars.$light-green;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Prevent the footer from shrinking */
    margin-top: 3rem;
    text-align: center; /* Center the footer text for better appearance */
    padding: 10px 0; /* Add padding to the footer */
}

@media (max-width: 600px) {
    footer {
        height: 80px; /* Slightly smaller height for mobile */
        font-size: 14px; /* Adjust font size for better readability on small screens */
        padding: 10px; /* Add some padding for better touch targets */
    }
}

