@use 'stylefooter';
@use 'variables' as vars;

html,
body {
    height: 100%;
    margin: 0;
    background-color: vars.$main-background;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: vars.$main-background;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 2rem;

    .navbar {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: vars.$light-green;
        padding: 20px 0;
        margin: 0 1rem;



        .nav-item {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            font-size: 24px;
            padding: 0 30px;
            align-items: center;
            color: vars.$dark-brown;
        
            // vælger elements nummer 2, 3, 4 
            &:nth-child(n+2) {
                border-left: 2px solid vars.$dark-brown;
            }
        }
        
    }

    .search_Field {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 14px;
        border-radius: 50px;
        background: vars.$light-green;
        outline: vars.$dark-green solid 3px;
        position: relative;
        margin: 1rem;

        input {
            margin: 5px 20px;
            width: 100%;
            font-size: 26px;
            font-family: sans-serif;
            color: vars.$dark-brown;
            background: transparent;
            border: none;
            outline: none;
        }
    }
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.recommendations {
    h2 {
        display: flex;
        justify-content: center;
        color: vars.$dark-brown;
        font-size: 36px;
    }

    .recommendation_Box {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 690px; // Set button width
            height: auto; // Set button height
            margin: 10px 0; // Adjust margin for spacing
            background-color: vars.$light-green;
            color: vars.$dark-brown;
            border: none;
            cursor: pointer;
            outline: vars.$dark-green solid 3px;
            font-size: 20px;
            text-align: left; // Align text to the left
            padding: 10px; // Add padding for better readability

            .song-details {
                display: none; // Hide the song details by default
            }

            &:hover .song-details {
                display: block; // Show song details on hover
            }

            h3 {
                font-weight: 100;
                margin-top: 0;
            }

            li {
                list-style: none;
            }

            // Adjust styles for artistName and albumTitle
            #artistName,
            #albumTitle {
                display: inline; // Display inline
                margin-right: 10px; // Add some space between artistName and albumTitle
            }
        }
    }
}

// Responsive styles
@media (max-width: 600px) {
    header {
        .search_Field {
            width: 90%;
            padding: 10px;

            input {
                font-size: 16px;
                margin: 5px 10px;
            }
        }
    }

    .recommendations {
        .recommendation_Box {
            button {
                width: 90%;
                /* Adjust button width for smaller screens */
                font-size: 16px;
            }
        }
    }
}