// import variables here
@use 'songcards';
@use 'stylefooter';
@use 'styleaboutus';
@use 'variables' as vars;

// mixin here
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin mid-adjustment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html,
body {
    height: 100%;
    background-color: vars.$main-background;
    font-family: sans-serif;
}

body {
    @include reset-list;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: vars.$main-background;
}

header {
    @include mid-adjustment;

    .navbar {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: vars.$light-green;
        padding: 20px 0;
        margin: 0 1rem;
        position: relative;
    }

    .nav-items {
        display: flex;
        justify-content: center;
        align-items: center;

        .nav-item {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            font-size: 24px;
            padding: 0 30px;
            align-items: center;
            color: vars.$dark-brown;

        }
    }

    &.show .nav-items {
        display: flex;
    }

    &.show .hamburger {
        display: none;
    }

    .search_Field {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 14px;
        border-radius: 50px;
        background: vars.$light-green;
        outline: vars.$dark-green solid 3px;
        position: relative;
        margin: 1rem;

        input {
            margin: 5px 20px;
            width: 100%;
            font-size: 26px;
            font-family: sans-serif;
            color: vars.$dark-brown;
            background: transparent;
            border: none;
            outline: none;
        }
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    span{
        color: vars.$dark-brown;
        text-align: center;

        p{
            text-align: center;
        }
    }
}





/* Media Queries */
@media (max-width: 768px) {

    // Tablet
    header {
        .navbar {
            @include mid-adjustment;
        }

        .nav-items {
            @include mid-adjustment;
        }

        .nav-item {
            padding: 10px 0;
            font-size: 20px;
        }


        .search_Field {
            width: 80%;
            padding: 10px;

            input {
                font-size: 20px;
            }
        }
    }

    .recommendations h2 {
        font-size: 28px;
    }

    .recommendation_Box button {
        width: 95%;
        font-size: 18px;
    }
}

@media (max-width: 480px) {

    // Mobile
    .navbar {
        @include mid-adjustment;
    }

    .nav-items {
        @include mid-adjustment;


        .nav-item {
            padding: 10px 0;
            font-size: 18px;

            &:nth-child(n+2) {
                border-left: none;
            }
        }
    }

    .search_Field {
        width: 90%;
        padding: 8px;

        input {
            font-size: 18px;
        }
    }

    .recommendations h2 {
        font-size: 24px;
    }

    .recommendation_Box button {
        width: 100%;
        font-size: 16px;
    }
}