@use 'stylefooter';
@use 'variables' as vars;

html,
body {
    height: 100%;
    margin: 0;
    background-color: vars.$main-background;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: vars.$main-background;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .navbar {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: vars.$light-green;
        padding: 20px 0;
        margin: 0 1rem;
        position: relative;
    }

    .hamburger {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 24px;
    }

    .nav-items {
        display: flex;
        justify-content: center;
        align-items: center;

        .nav-item {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            font-size: 24px;
            padding: 0 30px;
            align-items: center;
            color: vars.$dark-brown;

            &:nth-child(n+2) {
                border-left: 2px solid vars.$dark-brown;
            }
        }
    }

    &.show .nav-items {
        display: flex;
    }

    &.show .hamburger {
        display: none;
    }

    .search_Field {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 14px;
        border-radius: 50px;
        background: vars.$light-green;
        outline: vars.$dark-green solid 3px;
        position: relative;
        margin: 1rem;

        input {
            margin: 5px 20px;
            width: 100%;
            font-size: 26px;
            font-family: sans-serif;
            color: vars.$dark-brown;
            background: transparent;
            border: none;
            outline: none;
        }
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.recommendations {
    h2 {
        display: flex;
        justify-content: center;
        color: vars.$dark-brown;
        font-size: 36px;
    }

    .recommendation_Box {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 690px;
            height: auto;
            margin: 10px 0;
            background-color: vars.$light-green;
            color: vars.$dark-brown;
            border: none;
            cursor: pointer;
            outline: vars.$dark-green solid 3px;
            font-size: 20px;
            text-align: left;
            padding: 10px;

            .song-details {
                display: none;
            }

            &:hover .song-details {
                display: block;
            }

            h3 {
                font-weight: 100;
                margin-top: 0;
            }

            li {
                list-style: none;
            }

            #artistName,
            #albumTitle {
                display: inline;
                margin-right: 10px;
            }
        }
    }
}

// Responsive styles for tablet and mobile versions
@media (max-width: 900px) {
    header {
        .navbar {
            .hamburger {
                display: block;
            }

            .nav-items {
                display: none;
                flex-direction: column;
                width: 100%;
                background-color: vars.$light-green;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 20px;
                z-index: 1000;
                overflow-y: auto;

                .nav-item {
                    padding: 20px 0;
                    text-align: center;
                    border: none;
                }
            }

            &.show .nav-items {
                display: flex;
            }

            &.show .hamburger {
                 display: flex;
            }
        }

        .search_Field {
            width: 90%;
            padding: 10px;

            input {
                font-size: 16px;
                margin: 5px 10px;
            }
        }
    }

    .recommendations {
        .recommendation_Box {
            button {
                width: 90%;
                font-size: 16px;
            }
        }
    }
}
