.recommendations h2 {
  display: flex;
  justify-content: center;
  color: #D4A373;
  font-size: 36px;
}
.recommendations .recommendation_Box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recommendations .recommendation_Box button {
  width: 90%;
  max-width: 690px;
  height: auto;
  margin: 10px 0;
  background-color: #E9EDC9;
  color: #D4A373;
  border: none;
  cursor: pointer;
  outline: #CCD5AE solid 3px;
  font-size: 20px;
  text-align: left;
  padding: 10px;
}
.recommendations .recommendation_Box button .song-details {
  display: none;
}
.recommendations .recommendation_Box button:hover .song-details {
  display: block;
}
.recommendations .recommendation_Box button h3 {
  font-weight: 100;
  margin-top: 0;
}
.recommendations .recommendation_Box button li {
  list-style: none;
}
.recommendations .recommendation_Box button #artistName,
.recommendations .recommendation_Box button #albumTitle {
  display: inline;
  margin-right: 10px;
}

footer {
  height: 100px;
  background-color: #E9EDC9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* Prevent the footer from shrinking */
  margin-top: 3rem;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 600px) {
  footer {
    height: 80px; /* Slightly smaller height for mobile */
    font-size: 14px; /* Adjust font size for better readability on small screens */
    padding: 10px; /* Add some padding for better touch targets */
  }
}
html,
body {
  height: 100%;
  background-color: #FEFAE0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FEFAE0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #E9EDC9;
  padding: 20px 0;
  margin: 0 1rem;
  position: relative;
}
header .nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav-items .nav-item {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 24px;
  padding: 0 30px;
  align-items: center;
  color: #D4A373;
}
header.show .nav-items {
  display: flex;
}
header.show .hamburger {
  display: none;
}
header .search_Field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 14px;
  border-radius: 50px;
  background: #E9EDC9;
  outline: #CCD5AE solid 3px;
  position: relative;
  margin: 1rem;
}
header .search_Field input {
  margin: 5px 20px;
  width: 100%;
  font-size: 26px;
  font-family: sans-serif;
  color: #D4A373;
  background: transparent;
  border: none;
  outline: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
main span {
  color: #D4A373;
  text-align: center;
}
main span p {
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  header .navbar {
    flex-direction: column;
    align-items: center;
  }
  header .nav-items {
    flex-direction: column;
    align-items: center;
  }
  header .nav-item {
    padding: 10px 0;
    font-size: 20px;
  }
  header .search_Field {
    width: 80%;
    padding: 10px;
  }
  header .search_Field input {
    font-size: 20px;
  }
  .recommendations h2 {
    font-size: 28px;
  }
  .recommendation_Box button {
    width: 95%;
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .nav-items {
    flex-direction: column;
    align-items: center;
  }
  .nav-items .nav-item {
    padding: 10px 0;
    font-size: 18px;
  }
  .nav-items .nav-item:nth-child(n+2) {
    border-left: none;
  }
  .search_Field {
    width: 90%;
    padding: 8px;
  }
  .search_Field input {
    font-size: 18px;
  }
  .recommendations h2 {
    font-size: 24px;
  }
  .recommendation_Box button {
    width: 100%;
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */